.DS_Store
\temp
/temp
\temp*
/temp*
qtc-gdbmacros
qtc_packaging
\z_compiler_files
/z_compiler_files
/.metadata
\.metadata
Makefile
Makefile.*
makefile
makefile.*
_internal_debug
_internal_release
_debug
_Debug
_release
_Release
_debug_db
_release_db
__releases_export
*.user
*.filters
*.vcxproj
*.sdf
*.vs
*.opensdf
*.bak
Generated_osx_mk
Generated_osx_mk64
Generated_mac_mk
Generated_mac_mk64
Generated_lx_mk64
Generated_Win
GeneratedFiles
*.rhi
