#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
################################## Identify Render Application ################################## 
Name= Assemble Tiles

PrePostType=post

ExecutePerChannel = true
AllowedForSingleOutput = false

# Optional flags: The following lines are disabled and set to the default value
# AllowedForExecuteOnceJobs= false
# AllowedForSingleOutput = true
# PrePostChecked= false
# ExecutePerChannel = false
# PrePostShowParamA= false
# PrePostShowParamB= false
# PrePostParamA= 100
# PrePostParamB= 100


##################################  [Windows] [Linux] [Mac] ##################################
CommandLine=
	<ResetExitCode> 

CommandLine=  "<rrLocalBin><OsxApp rrAssembleTiles>"
	 "<ImageDir><ImageFilename>" "<ImageExtension>" 
     <SeqStart> <SeqEnd> <SeqStep> <FileOffset> 
     <TotalTiles> 
     <ImageWidth> <ImageHeight> 
     .exr
#   --ContinueOnError


CommandLine=
	<CheckExitCode> <FN>
