# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
#
# Last change: %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name= Sequence Check


PrePostType=post

PrePostChecked= true
ExecutePerChannel = true
AllowedForSingleOutput = false


# Optional flags: The following lines are disabled and set to the default value
# AllowedForExecuteOnceJobs= false
# AllowedForSingleOutput = true
# PrePostChecked= false
# ExecutePerChannel = false
# PrePostShowParamA= false
# PrePostShowParamB= false
# PrePostParamA= 100
# PrePostParamB= 100




##################################  [Windows] [Linux] [OSX]  ##################################


CommandLine=
	<ResetExitCode> 

CommandLine=  "<rrLocalBin><OsxApp rrSequenceCheck>"
	"<ImageDir><ImageFilename>#<ImageExtension>"   
	<PreviewGamma -g> 
	-del
    -delMiss
	<CropEXR -cropEXR>
	-seq <SeqStart> <SeqEnd> <SeqStep> <FileOffset>
    <SeqFrameSet -frameSet <SeqFrameSet>>
	-minFileSizeKB <MinFileSizeKB>
	<isChannel -main "<MainImageDir><MainImageFilename>#<MainImageExtension>" ?  <CreateCaches -c > -jd "<JobFilesFolderName><EL<PD>>" >
	-threadID <rrClientThreadID>

CommandLine=
	<CheckExitCode> <FN>

