#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# Last change: %rrVersion%
#
################################## Identify Render Application ################################## 
Name=Harmony
OS= 1
Version=1
Version_Minor=0

TYPEv9=Comp


##################################  [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 


CommandLine=  
	"<Exe>"
    "<Scene>"
    <Camera -camera <Camera>>
    <Layer -scene <Layer>>
    -frames <SeqStart> <SeqEnd>
    -batch
    -renderThread <CORES>
    <verboseLevel>
	<AdditionalCommandlineParam>
	<ClientConfigParam>

#Harmony might not return error code 0, therefore we cannot check for crashes.   
CommandLine=	<ResetExitCode> 
CommandLine=	<CheckExitCode> <FN>


################################## Render Settings ################################## 

FlagsVerboseDefault= 
FlagsVerboseNone= 
FlagsVerboseWarning= 
FlagsVerboseInformation= -debug
FlagsVerboseProgress= -debug

REZ_EXE_WIN=   HarmonyPremium.exe
REZ_EXE_LX=    HarmonyPremium
REZ_EXE_MAC=   HarmonyPremium


################################## Submitter Settings ################################## 
SequenceDivide= 0~1
AllowImageNameChange= 0
AllowImageDirChange= 0
MarkStandardErrorOutput= 0

################################## Client Settings ################################## 
TexReplaceFormat= .xstage~ Char ~ AlwaysForward

IconApp=2D01__Harmony.png

licenseFailLine=  Could not find a valid license

::include(<ConfigFileName>__inhouse.inc)




