#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# Last change: %rrVersion%
#
################################## Identify Render Application ################################## 
Name=ComfyUI
RendererName=
Version=0
TYPEv9=Comp

ExeCopyFromDir = <rrSharedExeDir>
ExeCopyToDir   = <rrLocalExeDir>

ExeCopiedWin=  <Contains(<rrJobRenderer>, Desktop)  <rrLocalExeDir>ComfyUI_Desktop_*/.venv/Scripts/python.exe ? <rrLocalExeDir>ComfyUI_Portable_*\python_embeded\python.exe >


##################################  [Windows]  ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine= "<rrLocalBin><OsxApp rrPythonconsole>"
    -noLogTime
    "<PD/ <rrLocalRenderScripts>kso_comfyUI.py" >
    --PyModPath "<rrLocalRenderScripts><EL<PD>>"
    --python_exe "<Exe>"
    --comfy_main <Contains(<rrJobRenderer>, Desktop) "<rrExeBaseDir><../><../>resources/ComfyUI/main.py" ?  "<rrExeBaseDir>/ComfyUI/main.py" >
    --port 810<rrClientThreadID> 
    --rrRenderer <rrJobRenderer>
    --output-directory "<CustomComfy_OutDir><EL\>" 
    --base-directory "<OSEnv RR_COMFYUI_BASE_LOCAL><EL\>"
    --database "<rrLocalPlugins><rrJobVerMajor>/comfyui.db" 
    <verboseLevel>
    --rrWorkflow "<Scene>" 
    --rrDirName  "<ImageDir><EL\>"
    --rrFileName "<ImageFilename>"
    --rrInterationStart <SeqStart>
    --rrInterationEnd <SeqEnd>
    --rrInterationStep <SeqStep>
    <CustomModelConfigYaml --extra-model-paths-config "<ModelConfigYaml>" >
    <COAutoInstallModules --rrAutoInstallModules >
    <Layer --rrLayer "<Layer>">

     
CommandLine=	<CheckExitCode> <FN>


################################## Render Settings ################################## 

FlagsVerboseDefault= --verbose INFO
FlagsVerboseNone= --verbose CRITICAL 
FlagsVerboseWarning= --verbose WARNING
FlagsVerboseInformation= --verbose INFO
FlagsVerboseProgress= --verbose DEBUG


################################## Submitter Settings ################################## 
SequenceDivide= 0~1
AllowLocalSceneCopy= 0~0
AllowLocalRenderOut=0~0

COAutoInstallModules= 1 ~ 0
COLocalSyncModels= 1 ~ 1
COLocalSyncNodes= 1 ~ 1


################################## Client Settings ################################## 

IconApp=2D02__ComfyUI.png


::include(<ConfigFileName>__inhouse.inc)




