#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
# This render config does not use the 3dsmaxcmd.exe, it directly uses the 3dsmax.exe
# Sometimes you get more accureate error messages
#
################################## Identify Render Application ################################## 
Name= 3dsMax
rendererName= debug
OS= 1
Version=9
Version_Minor=0
Type=3D

##################################  [Windows]  ##################################


CommandLine=
	set "USERPROFILE=%rrLocalRoot%SysUserPrefs\%rrClientThreadIDstr%"

CommandLine=
	set "LOCALAPPDATA=%USERPROFILE%\AppData\Local"

CommandLine=
    if not exist "%USERPROFILE%\AppData\Roaming\Autodesk" (    mkdir "%USERPROFILE%\AppData\Roaming\Autodesk" )
    
CommandLine=
        <rrLocalBin>rrCopy -oa "<rrPrefs>Workspace1.se.ini" "%LOCALAPPDATA%\Autodesk\3dsMax\%rrExeVersionMajor% - 64bit\ENU\en-US\UI\Workspaces\Workspace1.se.ini"

CommandLine=
        "<rrBin64>rrCopy" -oa "<rrPrefs>%rrExeVersionMajor%\Plugin.UserSettings.ini" "%LOCALAPPDATA%\Autodesk\3dsMax\%rrExeVersionMajor% - 64bit\ENU\Plugin.UserSettings.ini"

CommandLine= IF "%MaxPlugins_NetworkPath%" == ""  ( set "MaxPlugins_NetworkPath=%rrPluginsNoOS%MaxPlugins_%rrExeVersionMajor%" )

CommandLine= @if exist "%LOCALAPPDATA%\Autodesk\3dsMax\%rrExeVersionMajor% - 64bit\ENU\Network\Max.log" (    del /Q  "%LOCALAPPDATA%\Autodesk\3dsMax\%rrExeVersionMajor% - 64bit\ENU\Network\Max.log" )

CommandLine= <envFileExecute <rrEnvFile>> 


CommandLine= <rrEnvLine> 


CommandLine= @if not exist "%ProgramFiles(x86)%\Autodesk\Backburner\server.exe" (   echo Error: Backburner installation not found. )


CommandLine=
	"<rrBin64>rrKillWait" 1 WSCommCntr4.exe

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvSoft>


CommandLine=
    	"<rrBin64>rrFilereplace" "%LOCALAPPDATA%\Autodesk\3dsMax\%rrExeVersionMajor% - 64bit\ENU\Plugin.UserSettings.ini" "**MaxAppFolder**;;<rrBaseAppPath>" "**rrNetworkPlugins**;;%MaxPlugins_NetworkPath%"


CommandLine=
	<ResetExitCode> 


CommandLine=  "<Exe><ED>3dsmax.exe" 
	-q
	-silent
	-mip
	-mxs  "render
	<camera camera:(getnodebyname( \"<camera>\" ))>
	fromframe:<SeqStart> toframe:<SeqEnd> nthframe:<SeqStep>
	outputFile:\"<PD/<ImageDir><ImageFilename><ImageExtension>>\"
	vfb:off;"
	"<Scene>"


CommandLine=
	<CheckExitCode> <FN>

################################## Render Settings ################################## 
SeperateRenderLogFile2= <rrLocalRoot>SysUserPrefs\<rrClientThreadIDstr>\AppData\Local\Autodesk\3dsMax\<rrExeVersionMajor> - 64bit\ENU\Network\Max.log



::include(3D03__3dsMAX____global.inc)
::include(<ConfigFileName>__inhouse.inc)


findFrameNoPre= Frame 
findFrameNoPost=  assigned


