#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name= 3dsMax
rendererName= PhoenixFD
RendererLicense= PhoenixFD
OS= 1
Version=2014
Type=3D

##################################  [Windows] ##################################


CommandLine= <envFileExecute <rrEnvFile>> 


CommandLine= <rrEnvLine>

CommandLine=
	<rrLocalBin>rrKillWait 1 WSCommCntr4.exe


CommandLine=
	<SetEnvGlobal>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvSoft>

CommandLine=
    	<rrLocalBin>rrFilereplace "%LOCALAPPDATA%\Autodesk\3dsMax\%rrExeVersionMajor% - 64bit\ENU\Plugin.UserSettings.ini" "**MaxAppFolder**;;<rrBaseAppPath>" "**rrNetworkPlugins**;;%MaxPlugins_NetworkPath%"


CommandLine=
        <rrLocalBin>rrCopy <rrLocalRenderScripts>kso_3dsmax_cube.max <rrLocalTemp>kso_3dsmax_cube.max

CommandLine=
        <rrLocalBin>rrCopy  -oa  <rrLocalRenderScripts>3dsmax_phoenix.ms <rrLocalTemp>3dsmax_phoenix.ms

CommandLine=
 	<rrLocalBin>rrFilereplace <rrLocalTemp>3dsmax_phoenix.ms 
	"*rrScriptFolder*;;<rrLocalRenderScripts><EL<PD>>"
        \;;\\
	/n;;\\nCommandLine=
        <rrLocalBin>rrCopy  -oa <rrLocalRenderScripts>kso_3dsmax.ini <rrLocalTemp>kso_3dsmax.ini

CommandLine=
 	<rrLocalBin>rrFilereplace "<rrLocalTemp>kso_3dsmax.ini" 
	"*Scene*;;<Scene>"
	"*Channel*;;<Channel>"
	"*Renderer*;;PhoenixFD"	
#	"*RendererMode*;;default"
#	"*RPMPass*;;<Layer>"
	"*StateSet*;;<Layer>"
	"*FName*;;<ImageDir><ImageFilename>"
	"*FNameVar*;;<ImageDir><ImageFilenameVariables>"
	"*FExt*;;<ImageExtension>"
	"*FPadding*;;<ImageFramePadding>"
	"*FNameChannelAdd*;;<ImageFilenameTileAdd>"
	"*SeqStart*;;<SeqStart>"
	"*SeqEnd*;;<SeqEnd>"
	"*SeqStep*;;<SeqStep>"
	"*SeqOffset*;;<FileOffset>"
	"*Camera*;;<Camera>"
	"*IgnoreErr*;; True "
	<X1 "*RegionX1*;;<X1>">
	<X2 "*RegionX2*;;<X2>">
	<Y1 "*RegionY1*;;<Y1>">
	<Y2 "*RegionY2*;;<Y2>">
	"*RenderThreads*;;<CPU>"
	"*KSOMode*;;<isKSOBool>"
	"*KSOPort*;;<ksoTCPport>"
	"*PyModPath*;;<PD/<rrLocalRenderScripts><EL<PD>>>"
	"*LogFile*;;<rrLocalTemp>rrMaxRender.log"
	"*ClientTotalMemory*;;<Memory>"
	<COGBuffer "*GBuffer*;;true" >
    "*AutoElementFileName*;;<COAutoElementFileName>"
    <COhdrFrameBuffer "*hdrFrameBuffer*;;true" >
	


CommandLine=
	<ResetExitCode> 

CommandLine=  "<Exe>" 
        -start:1 -end:1 -showRFW:0 -skipRenderedFrames:0   
	"<rrLocalTemp>kso_3dsmax_cube.max"  
        -outputName:"<rrLocalTemp>kso_cube.tga"
	-v:4  
	-postRenderScript:<rrLocalTemp>3dsmax_phoenix.ms 
	<COGammaCorrect -gammaCorrection:1 -gammaValueIn:2.2 -gammaValueOut:2.2>
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine=
	<CheckExitCode> <FN> 3dsmax.exe################################## Render Settings ################################## 

splitRenderLogFile= <rrLocalTemp>rrMaxRender.log
SeperateRenderLogFile= <rrLocalTemp>vraylog.txt
SeperateRenderLogFile2= <rrLocalRoot>SysUserPrefs\<rrClientThreadIDstr>\AppData\Local\Autodesk\3dsMax\<rrExeVersionMajor> - 64bit\ENU\Network\Max.log

TileAdd= <nothing>

COGammaCorrect= 1 ~ 0
COGBuffer= 1 ~ 0
COAutoElementFileName= 1 ~ 1


IconRenderer=r_vray.png

::include(3D03__3dsMAX_s____global.inc)RenderPreviewFirst= 0~0
MaxClientsAtATime=0~1
AllowLocalRenderOut=0~0
AllowLocalSceneCopy=0~0
DistributeStartToEnd=0~1
SeqDivMIN= 0~0
SeqDivMAX= 0~0
DoNotCheckForFrames= 0~1


::include(3D00__3D_global.inc)
::include(<ConfigFileName>__inhouse.inc)

