#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
# This render config does not use the 3dsmaxcmd.exe, it directly uses the 3dsmax.exe
# Sometimes you get more accureate error messages
#
################################## Identify Render Application ################################## 
Name= 3dsMax
rendererName= debug
OS= 1
Version=9
Version_Minor=0
Type=3D

##################################  [Windows]  ##################################

CommandLine= <envFileExecute <rrEnvFile>> 

CommandLine= <rrEnvLine> 

CommandLine=
	"<rrBin64>rrKillWait" 1 WSCommCntr4.exe

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 


CommandLine=  "<Exe><ED>3dsmax.exe" 
	-q
	-silent
	-mip
	-mxs  "render
	<camera camera:(getnodebyname( \"<camera>\" ))>
	fromframe:<SeqStart> toframe:<SeqEnd> nthframe:<SeqStep>
	outputFile:\"<PD/<ImageDir><ImageFilename><ImageExtension>>\"
	vfb:off;"
	"<Scene>"


CommandLine=
	<CheckExitCode> <FN>

################################## Render Settings ################################## 
SeperateRenderLogFile2= <rrLocalRoot>SysUserPrefs\<rrClientThreadIDstr>\AppData\Local\Autodesk\3dsMax\<rrExeVersionMajor> - 64bit\ENU\Network\Max.log::include(3D03__3dsMAX____global.inc)
::include(3D00__3D_global.inc)
::include(<ConfigFileName>__inhouse.inc)


findFrameNoPre= Frame 
findFrameNoPost=  assigned


