# config file format version 8.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
# Same commands as the default houdini commandline, but some RR options are set
#  RenderPreviewFirst ist off, MaxClientsAtATime=1 and DistributeStartToEnd is enabled
#
#
################################## Identify Render Application ################################## 
Name= Houdini
rendererName= SimRender
Version=10
Version_Minor=0
Type=3D
TYPEv9=3Drender



################################## [Windows] [Linux] [Osx] ##################################


CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine= 
	"<Exe>"
	"<PD/ <rrLocalRenderScripts>kso_houdini.py" >
	-renderer "<AppRenderer>"
    -scene "<PD/<Scene>>"
	-FrStart <SeqStart>
	-FrEnd <SeqEnd>
	-FrStep <SeqStep>
	-FPadding <ImageFramePadding>
	-FName "<PD/<ImageDir><ImageFilenameVariables_noTile>>" 
	-FRefName "<PD/<ImageDir><ImageFilenameVariables>>" 
	-FExt "<ImageExtension>" 
 	-rop "<PD/<Layer>>"
    <Camera -camera "<Camera>" >
 	-threads <CPU>
    <AvFrameTimeMin10 -verbose True>
	<CONoPerFrameLoop -noFrameLoop True>
    <COIgnoreLoadWarnings -ignoreLoadIssues True>
    <COUnlockAssets -unlockAssets True>
	<COSubFrames -subFrames <COSubFrames>>
	<SequenceDivideMin ? -noFrameLoop True>    
	-PyModPath <rrLocalRenderScripts><EL<PD>>
    -KSOMode \n
    <channel -take <channel>>
    <SceneState -wedge <SceneState>>
    <COIgnoreROPDependencies -ignoreROPDependencies>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
    
CommandLine=
	<CheckExitCode> <FN>



################################## Render Settings ##################################

CONoPerFrameLoop= 0 ~ 1



################################## Submitter + Client Settings ################################## 


::include(3D06__Houdini____global.inc)

MaxClientsAtATime=0~1
DistributeStartToEnd=0~1
RenderPreviewFirst= 0~0
KeepSceneOpen=0~0

IconRenderer=3D06__Houdini_sim.png

::include(3D00__3D_global.inc)
::include(<ConfigFileName>__inhouse.inc)



