# config file format version 8.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name= Houdini
rendererName= PDGpy
Version=18
Version_Minor=0

TYPEv9=3Drender
ExecuteJobType=PerFrame


################################## [Windows] [Linux] [Osx] [KSO] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>


CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Rendering frame <FN> ***************"

CommandLine=<rrEnvLine>

CommandLine=
	<ResetExitCode> 
	

CommandLine= 
	"<Exe><../><../>python<CustomHPyVer>/python"
	<CustomCommandLine>   

CommandLine=
	<CheckExitCode> <FN>

CommandLine=
    "<rrBin64>rrKillWait" 1 hserver true

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"


################################## Render Settings ##################################
sceneIsMultiFrame= 1
noScenefilePerFrame = 1
Frozen_MinCoreUsage=0.7

################################## Submitter Settings ################################## 
DoNotCheckForFrames= 1~1
StartMultipleInstances= 0~0
AllowLocalRenderOut= 0~0
AllowImageNameChange= 0
AllowImageDirChange= 0
PPSequenceCheck=0~0
PPCreateSmallVideo=0~0
PPCreateFullVideo=0~0
DistributeStartToEnd=0~1
RenderPreviewFirst= 0~0
SeqDivMIN= 1~1
SeqDivMAX= 1~5
ApproveAllAutomatically=0~1
RequireApprovalAfterPreview=0~0
RequireApprovalAfterAllFrames=0~0


::include(3D06__Houdini____global.inc)

IconRenderer=3D06__Houdini_PDG_Nodes_Py.png
permanentErrorSearchLine = Failed RPC to


::include(3D00__3D_global.inc)
::include(<ConfigFileName>__inhouse.inc)

