#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name=  Modo
rendererName= 
Version=6
Version_Minor=0
Type=3D



##################################   [Windows] [Linux] [Osx] [KSO] ##################################


CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>


CommandLine=
	<ResetExitCode> 

CommandLine=  "<Exe>"
    ::win   	"-cmd:@<Esc "<PD/<rrLocalRenderScripts>modo_render_60.py>" 
    ::osx    	     '-cmd:@"<PD/<rrLocalRenderScripts>modo_render_60.py>" 
    ::lx    	     '-cmd:@"<PD/<rrLocalRenderScripts>modo_render_60.py>" 
	<SeqStart> <SeqEnd> <SeqStep> 
	<isKSO -KSOMode -KSOPort <ksoTCPport>> 
	<Layer -Layer "<Layer>" > 
	<Channel -PassGroup "<Channel>" > 
	-layeredexr 
	-imgName "<PD/<ImageDir><ImageFilenameVariables>>" 
	-imgNameNoVar "<PD/<ImageDir><ImageFilename>>" 
	-imgExt <ImageExtension> -padding <FramePadding F> 
	-PyModPath <PD/<rrLocalRenderScripts><EL<PD>>> 
	-avFrameTime <AvFrameTimeSec> 
	<AdditionalCommandlineParam>
    ::win   >" 
    ::osx   '
	::lx    '
	"-config:<rrPrefs><ExeVersion>"
    "-dboff:crashreport" 
	"<Scene>"


	
CommandLine=
	<CheckExitCode> <FN>




#################################################
# KSO settings
KSO_Type= TCP

KSO_NewFrame= ksoRenderFrame (<SeqStart>, <SeqEnd>, <SeqStep> )

KSO_Close= ksoQuit()

KSOlog_AppStarted= Scene init done, starting to render

KSOlog_Running= rrKSO server started

KSOlog_FrameDone= rrKSO Frame(s) done

KSOlog_Quit=rrKSO closed



################################## Render Settings ################################## 


FlagsRegion= -region <X1 <X1f> ? 0> <X2 <X2f> ? 1> <Y1 <Y1f> ? 0 > <Y2 <Y2f> ? 1> -imgNameAdd "<ImageFilenameTileAdd>"

ImageSizeCommandline= -width <Width> -height <Height>

FlagsVerbose0= -verbose: 1
FlagsVerbose1= -verbose: 0
FlagsVerbose2= -verbose: 0
FlagsVerbose3= -verbose: 1
FlagsVerbose4= -verbose: 2



################################## Submitter + Client Settings ################################## 

 
::include(3D08__Modo____global.inc)
::include(<ConfigFileName>__inhouse.inc)


