# config file format version 8.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name= Realflow
rendererName= Mesher
Version=1
Version_Minor=0
Type=3D
TYPEv9=3Drender



################################## [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>


CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 
	
CommandLine=  
	"<Exe>"
	-nogui
	-mesh 
	<CPU -threads <CPU> >
	-range <SeqStart> <SeqEnd>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
	"<Scene>"

CommandLine=
	<CheckExitCode> <FN>



################################## Render Settings ################################## 


################################## Submitter Settings ################################## 

AllowImageNameChange= 1
AllowImageDirChange= 1
SequenceDivide= 0~1
AllowLocalSceneCopy= 1~0


################################## Client Settings ################################## 



licenseFailLine=  

errorSearchLine=  

permanentErrorSearchLine = 




::include(3D00__3D_global.inc)
::include(<ConfigFileName>__inhouse.inc)