#
# Author: Paolo Acampora, Binary Alchemy
# %rrVersion%
#
#


################################## Identify Render Application ################################## 
Name= OctaneBlender
rendererName= Octane
Version= 2

TYPEv9=3Drender





##################################  [Windows] [Linux] [OSX] [KSO]  ##################################

CommandLine= <envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<OSSetEnv CUDA_VISIBLE_DEVICES ; <GpuListC>>

CommandLine=
	echo crash file in 
	<rrLocalTemp><SceneFileName>.crash.txt

CommandLine=<COStart_Octane_Server  "<rrBin64>rrKillWait" 1 OctaneServer >

CommandLine=<COStart_Octane_Server "<rrBin64>rrWaitnstart" 1 "<Exe><ED>OctaneServer<PD>OctaneServer" >

CommandLine=
	<ResetExitCode> 


CommandLine=   "<Exe>"
    <Cores -t <Cores> ? -t 0>
	-b
    -P "<rrLocalRenderScripts>kso_blender.py"
	<SceneState -S "<SceneState>">
	--python-use-system-env -y --
	<isKSO -rKso -rKSOport <ksoTCPport> >
	-rStart <SeqStart>
	-rEnd <SeqEnd>
	-rStep <SeqStep>
	-rBlend "<Scene>"
	-rOut "<ImageDir><ImageFilename>"
	-rPad "<ImageFramePadding>"
	-rExt "<ImageExtension>"
	<AppRenderer -rRenderer <AppRenderer>>
	<Layer -rLayer "<Layer>">
	<CustomFrameFormat -rFormat <CustomFrameFormat>>
	-rAA <AAsamplesMultiply>
	<AdditionalCommandlineParam>
    -rPyModPath <rrLocalRenderScripts><EL<PD>>
    <NoFramebyFrameLoop -NoFramebyFrameLoop>
    <COLoadAdd-ons  -load3rdPartyPlugins>

CommandLine=
	<CheckExitCode> <FN>
    
CommandLine=<COStart_Octane_Server	"<rrBin64>rrKillWait" 1 OctaneServer >

#################################################
# KSO settings
KSO_Type= TCP

KSO_NewFrame= set_average_frame_time(<AvFrameTimeSec>) \nkso_render_frames(<SeqStart>, <SeqEnd>, <SeqStep>)

KSO_Close= ksoQuit()

KSOlog_AppStarted= Scene init done, starting to render

KSOlog_Running= rrKSO server started

KSOlog_FrameDone= rrKSO Frame(s) done

KSOlog_Quit=rrKSO closed



################################## Submitter Settings ##################################    
COLoadAdd-ons= 1~0
COStart_Octane_Server= 1~0


################################## Render Settings ################################## 

FlagsRegion= -rMinX <X1 <X1f> ? 0>  -rMaxX <X2 <X2f> ? 1>  -rMinY <Y1 <Y1f> ? 0 > -rMaxY <Y2 <Y2f> ? 1>

ImageSizeCommandline= -rX <Width> -rY <Height>






::include(3D19__Blender____global.inc)

::include(3D00__3D_global.inc)
::include(<ConfigFileName>__inhouse.inc)


IconRenderer=r_octane.png
GPUrequired= 0~1


RealTimeAbortLine = Unable to load renderer
RealTimeAbortLine = can't connect to Octane server
permanentErrorSearchLine = Unable to load renderer
licenseFailLine= can't connect to Octane server