# config file format version 8.0
#
# Author: Royal Render, Antonio Ruocco, Paolo Acampora, Binary Alchemy
# Last change: %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name=Unreal Engine 
rendererName=MoviePipeline
Version=4
Type=3D
TYPEv9=3Drender


##################################   [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine=  "<Exe>"
    <NoUNC "<Database><EL<PD>><PD><CustomProjectName>">
	
	-windowed -log -noloadingscreen -RenderOffscreen
	-StdOut -allowStdOutLogVerbosity -Unattended
	-MoviePipelineConfig="/Game/<CustomPresetPath>"

	-ExecCmds="py <rrLocalRenderScripts>unreal_render_50.py"

	-rMap="<SceneFolder><SceneFileName>"
	-rSeq="<CustomSequencePath>/<Layer>"
	-rOutFolder="<ImageDir>"
	-rOutName="<ImageFilename>"
	-rPad=<ImageFramePadding>
	-rExt=<ImageExtension>
    -rStart=<SeqStart>
	-rEnd=<SeqEnd+1>
	-rOffset=<SeqFileOffset>
	-rW=<ImageWidth>
	-rH=<ImageHeight>
	-rAA=<AAsamplesMultiply>


    <AdditionalCommandlineParam>

CommandLine=
	<CheckExitCode> <FN>



CommandLine= "<rrBin64>rrKillWait" 1 UNREALTRACESERVER.EXE true
CommandLine= "<rrBin64>rrKillWait" 1 CrashReportClientEditor.EXE true



################################## 


::include(3D00__3D_global.inc)
::include(3D21__Unreal_Engine____global.inc)
::include(<ConfigFileName>__inhouse.inc)
