# config file format version 8.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name= RenderMan
rendererName= ProServer
RendererLicense= ProServer
Version=18
Version_Minor=0
Type=Archive

ExeCopyFromDir = <rrSharedExeDir>
ExeCopyToDir   = <rrLocalExeDir>

ExeCopiedWin=  <rrLocalExeDir>RenderManProServer*/bin/denoise.exe
ExeCopiedLx=   <rrLocalExeDir>RenderManProServer*/bin/denoise
ExeCopiedOSX=   <rrLocalExeDir>RenderManProServer*/bin/denoise


##################################  [Windows] [Linux] [Osx]  ##################################


::win  CommandLine= <CPU <LimitCPUs> <CPU>>

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>


CommandLine=
	<ResetExitCode> 


CommandLine_Win=  "<Exe>"
    <SceneFolder><SceneFNasWildcard>
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine=  <CheckExitCode> <FN>




################################## Render Settings ################################## 
sceneIsMultiFrame= 1
sceneIsMultiFrame_copyBordering= 1


################################## Submitter Settings ################################## 
AllowLocalSceneCopy= 0~1

SequenceDivide= 0~1
AllowImageNameChange= 0
AllowImageDirChange= 0
AllowLocalRenderOut= 0~0
AllowLocalSceneCopy= 1~1
MultiOSScenes=1~0


################################## Client Settings ################################## 
licenseFailLine=  Request exceeds available seat count

errorSearchLine=  

IconApp=empty.png
#IconRenderer=r_renderman.png


findFrameNoPre= Frame 
findFrameNoPost=  done 

::include(A01_rib__ProServer____global.inc)
::include(<ConfigFileName>__inhouse.inc)

