#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#


::include(A10_USD_StdA____shared.inc)
RendererLicense= /Karma

##################################   [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine> 


CommandLine=
	<SetEnvGlobal>


CommandLine=
	<SetEnvSoft>


CommandLine=
	<ResetExitCode> 


CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Rendering frame <FN> ***************"



CommandLine=  "<Exe><ED>husk"
	<AdditionalCommandlineParam>
	<ClientConfigParam>
    <verboseLevel>
    --usd-input "<PD/<Scene>>"
    <Cores --threads <Cores>>
	<COSingleRenderProduct -o <ImageSingleOutputFile	"<PD/<ImageDir><ImageFilename>>"	? "<PD/<ImageDir><ImageFilename><FNimgPadded><ImageExtension>>" >>
    <Camera -c <Camera>>
	-f <SeqStart>
	-R BRAY_HdKarma
    <COBucketMode --bucket-size <COBucketMode> --image-mode bucket --progressive-passes 0 --bucket-order left>

CommandLine=
	<CheckExitCode> <FN>

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"
    
    
    
#################################################################### 
sceneIsMultiFrame= 1

ImageSizeCommandline= -r <Width> <Height>

COBucketMode= 1 ~ 1 ~ 128


::include(A00__Archive_global.inc)
::include(<ConfigFileName>__inhouse.inc)


