#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name= Redshift
Version=3
Version_Minor=0
Type=Archive
TYPEv9=Archive


ExeCopyFromDir = <rrSharedExeDir>
ExeCopyToDir   = <rrLocalExeDir>

ExeCopiedWin=  <rrLocalExeDir>Redshift*\bin\redshiftCmdLine.exe
ExeCopiedLx=  <rrLocalExeDir>Redshift*\bin\redshiftCmdLine


##################################   [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvSoft>
     
    
CommandLine=
	<ResetExitCode> 

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Rendering frame <FN> ***************"

CommandLine=  "<Exe>"
	"<Scene>"
    -oro <rrLocalRenderScripts>RS_Stda_Override.txt 
    <Gpu0 -gpu 0>
    <Gpu1 -gpu 1>
    <Gpu2 -gpu 2>
    <Gpu3 -gpu 3>
    <Gpu4 -gpu 4>
    <Gpu5 -gpu 5>
    <Gpu6 -gpu 6>
    <Gpu7 -gpu 7>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
    -oip "<ImageDir><EL<PD>>"

CommandLine=
	<CheckExitCode> <FN>

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"

################################## Render Settings ################################## 
sceneIsMultiFrame= 1

#SeperateRenderLogFile= <rrLocalTemp>\Redshift\Log\Log.Latest.0\log.html


################################## Submitter Settings ################################## 
SequenceDivide= 0~1
AllowImageNameChange= 0
AllowImageDirChange= 1
PPDeleteScenefile= 1~1
MultiOSScenes=0~0
GPUrequired= 0~1
AllowLocalSceneCopy= 0~0



################################## Client Settings ################################## 


TexReplaceFormat= .rs ~ Char

licenseFailLine= All licenses in use
licenseFailLine= License error

IconApp=empty.png

::include(A00__Archive_global.inc)
::include(<ConfigFileName>__inhouse.inc)
::include(r_RedShift.inc)

