#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name= Mantra_StdA
OverrideClientInstallName= Houdini
RendererName= SingleIfd
Version=10
Version_Minor=0
Type=Archive



##################################   [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine> 


CommandLine=
	<SetEnvGlobal>


CommandLine=
	<SetEnvSoft>


CommandLine=
	<ResetExitCode> 


CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Rendering frame <FN> ***************"



CommandLine=   "<Exe><ED>mantra"
	-f <PD/<Scene>>
	<verboseLevel>
        <Cores -j <Cores>>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
    <ImageSingleOutputFile	"<PD/<ImageDir><ImageFilename>>"	? "<PD/<ImageDir><ImageFilename><FNimgPadded><ImageExtension>>" >


CommandLine=
	<CheckExitCode> <FN>

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"
    
CommandLine=
	<rrBin64>rrKillWait 1 hserver true
    

################################## Render Settings ################################## 
sceneIsMultiFrame= 0

FlagsVerbose0= <AvFrameTimeMin10 -V2a ? -V2>
FlagsVerbose1= -V0
FlagsVerbose2= -V1
FlagsVerbose3= -V3a
FlagsVerbose4= -V7a



################################## Submitter Settings ################################## 

SceneFileExtension= *.ifd
SequenceDivide= 0~1
AllowImageNameChange= 1
AllowImageDirChange= 1
PPDeleteScenefile= 1~0
MultiOSScenes=1~0
SeqDivMIN= 1~1
SeqDivMAX= 1~10
AllowLocalSceneCopy= 0~0

################################## Client Settings ################################## 

IconApp=empty.png
IconRenderer=3D06__Houdini_red.png



Frozen_MinCoreUsage=1.90

TexReplaceFormat= .ifd ~ Char ~ AlwaysForward

licenseFailLine=  no license available
licenseFailLine=  no licenses could be found to run this application

permanentErrorSearchLine = Unable to connect to hserver for license

findFrameNoPre= Frame 
findFrameNoPost=  done 

::include(<ConfigFileName>__inhouse.inc)


