#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name= Arnold-singlefile
RendererName= 
Version=3
Version_Minor=0
Type=Archive


ExeCopyFromDir = <rrSharedExeDir>
ExeCopyToDir   = <rrLocalExeDir>

ExeCopiedWin=  <rrLocalExeDir>Arnold-*\bin\kick.exe
ExeCopiedLx=  <rrLocalExeDir>Arnold-*\bin\kick


##################################   [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Rendering frame <FN> ***************"

CommandLine=  "<Exe>"
	<CPU -t <CPU> >
	-i "<Scene>"
    <CustomStaticAss -i "<CustomStaticAss>">
	-o "<ImageDir><ImageFilename><FNimgPadded><ImageExtension>"
	-l "<rrBaseAppPath>/bin"
	-dw
	-dp
	-nstdin
	::win  -nocrashpopup
    -frame <FN>
    -set options.AA_seed <FN>
    <verboseLevel>
    <renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>

CommandLine=
	<CheckExitCode> <FN>

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"

################################## Render Settings ################################## 
noScenefilePerFrame = 1


::include(A80__Arnold_StdA__global.inc)

::include(<ConfigFileName>__inhouse.inc)

