#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# %rrVersion%
#
#
################################## Identify Render Application ################################## 
Name= Arnold
rendererName= Houdini
Version=3
Version_Minor=0
Type=Archive


ExeCopyFromDir = <rrSharedExeDir>
ExeCopyToDir   = <rrLocalExeDir>

ExeCopiedWin=  <rrLocalExeDir>HtoA-*\scripts\bin\kick.exe
ExeCopiedLx=  <rrLocalExeDir>HtoA-*\scripts\bin\kick


##################################   [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Rendering frame <FN> ***************"

CommandLine=  "<Exe>"
	<CPU -t <CPU> >
	-i "<Scene>"
	-o "<ImageDir><ImageFilename><FNimgPadded><ImageExtension>"
	-l "<rrBaseAppPath>/bin"
	-dw
	-dp
	-nstdin
	::win  -nocrashpopup
    <verboseLevel>
	<AdditionalCommandlineParam>
	<ClientConfigParam>

CommandLine=
	<CheckExitCode> <FN>

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"

################################## Render Settings ################################## 


::include(A80__Arnold_StdA__global.inc)
IconRenderer=r_arnold_htoa.png

::include(<ConfigFileName>__inhouse.inc)



