# config file format version 8.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
#
# %rrVersion%
#
# This render config executes a pyhton script with Nuke.
# It uses the jobs scene file name as python file to run.
#
#
#
# 
# You have 3 options to get arguments into the script:
# 1) As you can see, the script adds the scene file of the job as commandline flag.
#    And the commandline contains 3 flags, which you can set at submission <CustomSceneName>, <CustomFlagA>, <CustomFlagB>, <CustomFlagC>
#    RR already prepends  "-scene" before <CustomSceneName>.
#    <CustomFlag..> require the flag as well
#    Use for example the module Argparse in your python script or use the "class argParser" in our script \render_apps\scripts\kso_houdini.py
# 	 Custom variables can be either set with the button in the rrSubmitter, top right,
# 	 via an submission xml file, 
#    via the rrSubmitter(console) commandline -CustomScriptName "//fileserver/share/myscriptfile.py"
#    or with an on-submission script.
# 
# 2) Set environment variables and read them in your script.
#    Please see rrHelp section Customization/Render Environment
#
# 3) Use the Submitter option "AdditionalCommandlineParam=0~0~Myflag1 Moreflags EvenMoreFlags"
#    Note: This option is limited to 250 characters, NON-unicode
#
#
# Hint: If you use some scripts very often, we recommend to override the icon for rrControl as well.
#       The icon has to be a png, 14 pixel high and 14-28 pixel wide, located in RR\render_apps\_config\
#       XML submission: <OverrideIcon> NoPathFileName.png </OverrideIcon>
#       Commandline:    -OverrideIcon  NoPathFileName.png 
#
#
#
################################## Identify Render Application ################################## 
Name= Nuke
rendererName= Python
Version=8
Version_Minor=0

TYPEv9=Comp
ExecuteJobType=Once


#Just a helper that you do not have to use the "add" button in rrConfig, tab licenses
AddPluginLicense=Sapphire
AddPluginLicense=Reelsmart
AddPluginLicense=pgBokeh
AddPluginLicense=nukeX


##################################   [Windows] [Linux] [Osx] ##################################

CommandLine= <envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>


CommandLine=
	<OSSetEnv CUDA_VISIBLE_DEVICES ; <GpuListC>>  

CommandLine=
	<ResetExitCode> 

CommandLine=  "<Exe>"
	<OSEnv NukeInteractiveLicense> 
	-t "<Scene>"	
	<CustomSceneName -scene "<CustomSceneName>" >
    <CustomFlagA "<CustomFlagA>" >
    <CustomFlagB "<CustomFlagB>" >
    <CustomFlagC "<CustomFlagC>" >
	<AdditionalCommandlineParam>

CommandLine=
	<CheckExitCode> <FN>


################################## Render Settings ################################## 



################################## Submitter + Client Settings ################################## 

::include(C13__Nuke____global.inc)
IconRenderer=E02__Python.png
MultiOSScenes=1~0

::include(C00__Compositing_global.inc)
::include(<ConfigFileName>__inhouse.inc)




