# config file format version 8.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# Modified: Oliver Markowski, www.fullblownimages.com
#
# %rrVersion%
#
################################## Identify Render Application ################################## 
Name= Nuke
rendererName= shotgun
Version=5
Version_Minor=0
Type=Comp
TYPEv9=Comp


#Just a helper that you do not have to use the "add" button in rrConfig, tab licenses
AddPluginLicense=Sapphire
AddPluginLicense=Reelsmart
AddPluginLicense=pgBokeh



##################################   [Windows] [Linux] [Osx] ##################################

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>


CommandLine=<IsLocalScene  "<Exe>" -t <PD/ "<rrLocalRenderScripts>nuke_shotgun.py"> <PD/<RR_DIR>plugins/python_modules> <SceneOrg> <Scene>  <IsLocalRender <rrLocalRenderoutOrg> <NoUNC <rrLocalRenderoutOrg>> <rrLocalRenderout> >  >




CommandLine=
	<ResetExitCode> 

CommandLine=  "<Exe>"
	<Layer -X <Layer> ? -x >
	-f
	<AdditionalCommandlineParam>
	<ClientConfigParam>
	<CONukeX --nukex>
	-m <CPU>
	--priority low
	"<S>"	
	<SeqStart>-<SeqEnd>/<SeqStep>


CommandLine=
	<CheckExitCode> <FN>


################################## Render Settings ################################## 

CONukeX= 1 ~ 0 


################################## Submitter + Client Settings ################################## 

::include(C13__Nuke____global.inc)
::include(<ConfigFileName>__inhouse.inc)



