# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
#
# Last change: %rrVersion%
#
#  This command gets the job class of this job in python.
#  Then is gets the FIRST job that is waiting for this job and changes that job
#
#  
#  AuthStr is required in case anonymous does not have the right to delete jobs.
#  Or if you have enabled "Authorization is required for all connections"
#  AuthStr will not work via a router/remote connection
#
#
################################## Identify script ################################## 
Name= ChangeChild

PrePostType=Finished

PrePostChecked= false
PrePostShowParamA= false
PrePostShowParamB= false
PrePostParamA= 100
PrePostParamB= 100
AllowedForSingleOutput = true
ExecutePerChannel = false



##################################  [Windows] [Linux] [OSX]  ##################################

CommandLine=
	<ResetExitCode> 


CommandLine=  <OsxApp "<rrBin64>rrPythonconsole" > "<RR_DIR>render_apps/_prepost_scripts/Finished99__ChangeChildrenJob.py"  -jid <JID> -authStr <AuthStr> -child <WaitChild>


CommandLine=
	<CheckExitCode> <FN>
